<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682201248582-5b1ctn1jck1mbsedhpaghqsd17l9lrp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682201248582-5b1ctn1jck1mbsedhpaghqsd17l9lrp1</string>
	<key>API_KEY</key>
	<string>AIzaSyBXymFozrbnTxb2KTgt28L7r45MJwwC0oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>682201248582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goline.testapp</string>
	<key>PROJECT_ID</key>
	<string>tvsi-39528</string>
	<key>STORAGE_BUCKET</key>
	<string>tvsi-39528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682201248582:ios:3fc7b510f64184224bab47</string>
</dict>
</plist>